<div class="columns is-multiline is-mobile full">
  <div class="column">
     <video height="300" id="localVideo"></video>
     <div id="remotesVideos"></div>
  </div>
  <div class="column is-one-quarter sidebar asd">
    <div class="tile is-ancestor">
      <div class="tile overflow wpadding">
        <div class="notification" ng-class="{teacher: m.user.is_teacher}" ng-repeat="m in messages">
          {{m.message}}<br>
          <small>
            <small>
              <b>{{m.user.name}}</b><br>
              {{m.time}}
              <br>
              <a ng-show="user.is_teacher && (!m.user.is_teacher)" ng-click="kick(m.user._id)" class="button is-danger">
                Bloquear usuário
              </a>
            </small>
          </small>
        </div>
      </div>
      <div class="tile overflow">
        <div class="fullll" ng-if="user.is_teacher">
          <a ng-click="close()" class="button is-danger">
            Fechar sala
          </a>
        </div>
        <form ng-submit="send()" class="control has-addons fullll">
          <input ng-model="text" class="input" type="text" placeholder="Sua mensagem...">
          <button class="button is-info">
            Enviar
          </button>
        </form>
      </div>
    </div>
  </article>
  </div>
</div>
