<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                Cadastro
                <hr>
                <img src="/img/logo.png" width="150">
            </p>
        </header>
        <section class="modal-card-body">
            <label class="label">Nome de Usuário</label>
            <p class="control has-icon">
                <input class="input" type="text" placeholder="Username">
                <i class="fa fa-user-o" aria-hidden="true"></i>

            </p>
            <label class="label">Email</label>
            <p class="control has-icon">
                <input class="input" type="email" placeholder="Email">
                <i class="fa fa-envelope"></i>
            </p>
            <label class="label">Senha</label>
            <p class="control has-icon">
                <input class="input" type="password" placeholder="Password">
                <i class="fa fa-lock"></i>
            </p>
            <p class="control">
                <label class="checkbox">
              <input ng-model="user.teacher" type="checkbox">
              Sou professor
            </label>
            </p>
        </section>
        <footer class="modal-card-foot">
            <a ng-show="user.teacher" ui-sref="professor" class="button is-primary">Cadastrar</a>
            <a ng-hide="user.teacher" ui-sref="aluno" class="button is-primary">Cadastrar</a>
            <a ui-sref="login">Fazer Login</a>
        </footer>
    </div>
</div>
