<div class="modal is-active">
    <div class="modal-background"></div>
    <form ng-submit="send()" class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">
                Cadastro
                <hr>
                <img src="/img/logo.png" width="150">
            </p>
        </header>
        <section class="modal-card-body">
            <div class="notification is-danger" ng-show="notif">
              <button type="button" ng-click="notif = false" class="delete"></button>
              {{notif}}
            </div>
            <label class="label">Nome Completo:</label>
            <p class="control has-icon">
                <input class="input" ng-model="user.name" type="text" placeholder="Nome completo">
                <i class="fa fa-envelope"></i>
            </p>
            <label class="label">Email</label>
            <p class="control has-icon">
                <input class="input" ng-model="user.email" type="email" placeholder="Email">
                <i class="fa fa-envelope"></i>
            </p>
            <label class="label">Senha</label>
            <p class="control has-icon">
                <input class="input" ng-model="user.password" type="password" placeholder="Senha">
                <i class="fa fa-lock"></i>
            </p>
            <div class="columns middle_switch">
              <div class="column">
                Sou professor
              </div>
              <div class="column right_switch">
                <label class="switch">
                  <input ng-model="user.is_teacher" type="checkbox">
                  <div class="slider round"></div>
                </label>
              </div>
            </div>
            <div ng-hide="user.is_teacher">
              <label class="label">Cursando:</label>
              <p class="control">
                <span class="select">
                <select ng-model="user.course">
                  <option ng-repeat="val in coursesList" value="{{val}}">{{val}}</option>
                </select>
              </span>
              </p>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-primary">Cadastrar</button>
            <a ui-sref="login">Fazer Login</a>
        </footer>
    </form>
</div>
